In [85]:
import re
import pandas as pd
import csv

In [86]:
ab_data = pd.read_csv(r"data\abortion_data\abortion data.csv")
ab_data.drop(ab_data[(ab_data['state'] == 'New York City')].index, inplace=True)
ab_data.drop(ab_data[(ab_data['state'] == 'New York State')].index, inplace=True)
ab_data = ab_data.reset_index(drop=True)
ab_data

,state,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,"10,280","9,523","9,076","8,485","8,080","5,899","6,642","6,484","6,009","5,713"
1,Alaska,"1,715","1,627","1,632","1,450","1,518","1,334","1,260","1,283","1,270","1,206"
2,Arizona,"11,438","14,401","13,340","13,401","12,900","12,655","13,332","12,438","13,097","13,273"
3,Arkansas,"4,532","4,033","3,782","3,730","4,253","3,771","3,207","3,069","2,963","3,154"
4,California¶,6704,7034,6749,6704,5842,6130,6738,6648,"7,390","6,350"
5,Colorado,"11,210","10,474","9,972","10,199","10,648","10,114","8,333","8,975","9,002","9,869"
6,Connecticut,"13,438","12,615","11,955","10,560","10,611","9,938","10,031","9,294","9,202","9,115"
7,Delaware,"4,666","3,794","3,823","3,042","2,937","2,785","2,170","1,740","2,042","2,281"
8,Florida††,"79,908","77,166","76,151","72,727","72,107","72,023","69,770","70,239","71,914","74,868"
9,Georgia,"34,585","32,770","31,370","30,673","30,013","31,009","33,811","33,918","36,907","37,533"
10,Hawaii,"3,064","2,671","2,824","1,967","2,147","2,026","2,554","2,121","2,003","1,809"
11,Idaho,"1,510","1,440","1,458","1,375","1,353","1,272","1,289","1,257","1,513","1,680"
12,Illinois,"41,859","41,324","43,203","40,750","38,472","39,856","38,382","42,441","46,517","46,243"
13,Indiana,"10,048","9,112","8,808","8,179","8,118","7,957","7,277","8,037","7,637","7,756"
14,Iowa§§,"5,399","4,815","4,648","4,423","4,020","3,989","3,722","2,849","3,566","4,058"
15,Kansas,"8,333","7,788","7,451","7,422","7,219","6,931","6,790","6,972","6,894","7,526"
16,Kentucky,"3,929","3,957","3,810","3,637","3,442","3,188","3,312","3,203","3,664","4,104"
17,Louisiana§§,"8,872","8,955","9,225","9,977","10,322","9,362","8,973","8,097","8,144","7,473"
18,Maine¶¶,"2,311","1,773","1,004","1,939","2,021","1,836","2,021","1,949","2,021","2,064"
19,Maryland¶,14627,13287,17630,15364,18374,12487,17637,"18,256","18,593",15372
20,Massachusetts§§,"20,802","20,703","20,062","19,448","19,354","18,570","17,901","26,716",14478,"16,452"
21,Michigan,"23,307","23,366","23,230","26,120","27,629","27,151","26,395","9,910","27,339","29,669"
22,Minnesota,"11,505","11,070","10,701","9,904","10,123","9,861","10,017","3,005","9,940","10,349"
23,Mississippi,"2,297","2,224","2,176","2,170","2,303","2,613","2,569",14788,"3,194","3,559"
24,Missouri,"6,163","5,772","5,624","5,416","5,060","4,765","4,562","2,910","1,471",167
25,Montana,"2,160","2,147","2,031","1,842","1,690","1,611","1,618","1,674","1,568","1,675"
26,Nebraska,"2,464","2,372","2,299","2,177","2,270","2,004","1,907","2,078",16248,"2,378"
27,Nevada,"7,787","7,206","7,218","6,056","8,132","7,116","7,284","8,819","2,068","8,633"
28,New Hampshire¶,12384,13784,18475,14876,12873,19489,16357,"22,936","8,414","22,972"
29,New Jersey***,"28,217","26,558","22,953","21,720","24,181","22,991","24,470","3,847","22,178","4,293"
30,New Mexico,"4,779","4,083","3,517","4,198","4,500","4,669","4,573","77,447","3,942","63,142"
31,New York,"115,724","111,296","104,370","98,046","96,711","93,096","87,325",13748,"78,587",15641
32,North Carolina,"30,952","26,192","24,439","22,820","24,605","27,631","27,138","27,581","28,450","30,004"
33,North Dakota,"1,291","1,247","1,330","1,182","1,264","1,166","1,160","1,141","1,121","1,174"
34,Ohio,"28,123","24,764","25,473","23,216","21,186","20,976","20,672","20,425","20,102","20,605"
35,Oklahoma,"6,097","5,416","5,150","5,013","4,916","4,709","4,294","4,990","4,995","3,797"
36,Oregon,"9,990","9,567","9,016","8,287","8,231","8,610","8,942","8,735","8,688","6,991"
37,Pennsylvania,"36,778","36,280","34,536","32,108","32,126","31,818","30,881","30,364","31,018","32,123"
38,Rhode Island,"4,181","4,165","3,549","3,251","2,990","2,649","2,479","2,817","2,099","2,611"
39,South Carolina,"6,464","6,379","6,084","5,878","5,714","5,778","5,736","4,646","5,101","5,468"
40,South Dakota,737,597,634,601,551,444,472,382,414,125
41,Tennessee,"16,373","16,115","15,859","14,216","12,373","11,411","11,235","10,880","9,719","11,243"
42,Texas,"77,463","72,332","68,201","63,168","54,148","53,940","53,481","55,140","57,275","55,132"
43,Utah,"3,780","3,386","3,273","3,102","2,948","3,176","3,008","3,082","2,922","2,362"
44,Vermont,"1,333","1,355","1,270","1,217","1,235","1,265","1,298","1,204","1,195","1,227"
45,Virginia,"25,943","25,413","22,916","20,852","20,187","18,663","17,058","16,474","15,601","15,604"
46,Washington,"21,124","20,225","18,386","17,592","17,710","17,098","17,080","17,264","17,262","16,909"
47,West Virginia,"1,999","1,837","1,828","1,876","1,730","1,516","1,428","1,507","1,183","1,001"
48,Wisconsin,"7,825","7,249","6,927","6,462","5,800","5,660","5,612","6,224","6,511","6,430"
49,Wyoming,1034,934,823,713,783,934,639,678,239,187

In [87]:
# clean state names && numerical data
states = ab_data['state'].replace(r'¶|§|†|\*', '' , regex=True).to_frame()
occur_by_year = ab_data.iloc[:, 1:].apply(lambda x: x.str.replace(',', "").astype(int), axis=1).reset_index(drop=True)
ab_df = pd.concat([states, occur_by_year], axis=1)
ab_df

,state,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Alabama,10280,9523,9076,8485,8080,5899,6642,6484,6009,5713
1,Alaska,1715,1627,1632,1450,1518,1334,1260,1283,1270,1206
2,Arizona,11438,14401,13340,13401,12900,12655,13332,12438,13097,13273
3,Arkansas,4532,4033,3782,3730,4253,3771,3207,3069,2963,3154
4,California,6704,7034,6749,6704,5842,6130,6738,6648,7390,6350
5,Colorado,11210,10474,9972,10199,10648,10114,8333,8975,9002,9869
6,Connecticut,13438,12615,11955,10560,10611,9938,10031,9294,9202,9115
7,Delaware,4666,3794,3823,3042,2937,2785,2170,1740,2042,2281
8,Florida,79908,77166,76151,72727,72107,72023,69770,70239,71914,74868
9,Georgia,34585,32770,31370,30673,30013,31009,33811,33918,36907,37533
10,Hawaii,3064,2671,2824,1967,2147,2026,2554,2121,2003,1809
11,Idaho,1510,1440,1458,1375,1353,1272,1289,1257,1513,1680
12,Illinois,41859,41324,43203,40750,38472,39856,38382,42441,46517,46243
13,Indiana,10048,9112,8808,8179,8118,7957,7277,8037,7637,7756
14,Iowa,5399,4815,4648,4423,4020,3989,3722,2849,3566,4058
15,Kansas,8333,7788,7451,7422,7219,6931,6790,6972,6894,7526
16,Kentucky,3929,3957,3810,3637,3442,3188,3312,3203,3664,4104
17,Louisiana,8872,8955,9225,9977,10322,9362,8973,8097,8144,7473
18,Maine,2311,1773,1004,1939,2021,1836,2021,1949,2021,2064
19,Maryland,14627,13287,17630,15364,18374,12487,17637,18256,18593,15372
20,Massachusetts,20802,20703,20062,19448,19354,18570,17901,26716,14478,16452
21,Michigan,23307,23366,23230,26120,27629,27151,26395,9910,27339,29669
22,Minnesota,11505,11070,10701,9904,10123,9861,10017,3005,9940,10349
23,Mississippi,2297,2224,2176,2170,2303,2613,2569,14788,3194,3559
24,Missouri,6163,5772,5624,5416,5060,4765,4562,2910,1471,167
25,Montana,2160,2147,2031,1842,1690,1611,1618,1674,1568,1675
26,Nebraska,2464,2372,2299,2177,2270,2004,1907,2078,16248,2378
27,Nevada,7787,7206,7218,6056,8132,7116,7284,8819,2068,8633
28,New Hampshire,12384,13784,18475,14876,12873,19489,16357,22936,8414,22972
29,New Jersey,28217,26558,22953,21720,24181,22991,24470,3847,22178,4293
30,New Mexico,4779,4083,3517,4198,4500,4669,4573,77447,3942,63142
31,New York,115724,111296,104370,98046,96711,93096,87325,13748,78587,15641
32,North Carolina,30952,26192,24439,22820,24605,27631,27138,27581,28450,30004
33,North Dakota,1291,1247,1330,1182,1264,1166,1160,1141,1121,1174
34,Ohio,28123,24764,25473,23216,21186,20976,20672,20425,20102,20605
35,Oklahoma,6097,5416,5150,5013,4916,4709,4294,4990,4995,3797
36,Oregon,9990,9567,9016,8287,8231,8610,8942,8735,8688,6991
37,Pennsylvania,36778,36280,34536,32108,32126,31818,30881,30364,31018,32123
38,Rhode Island,4181,4165,3549,3251,2990,2649,2479,2817,2099,2611
39,South Carolina,6464,6379,6084,5878,5714,5778,5736,4646,5101,5468
40,South Dakota,737,597,634,601,551,444,472,382,414,125
41,Tennessee,16373,16115,15859,14216,12373,11411,11235,10880,9719,11243
42,Texas,77463,72332,68201,63168,54148,53940,53481,55140,57275,55132
43,Utah,3780,3386,3273,3102,2948,3176,3008,3082,2922,2362
44,Vermont,1333,1355,1270,1217,1235,1265,1298,1204,1195,1227
45,Virginia,25943,25413,22916,20852,20187,18663,17058,16474,15601,15604
46,Washington,21124,20225,18386,17592,17710,17098,17080,17264,17262,16909
47,West Virginia,1999,1837,1828,1876,1730,1516,1428,1507,1183,1001
48,Wisconsin,7825,7249,6927,6462,5800,5660,5612,6224,6511,6430
49,Wyoming,1034,934,823,713,783,934,639,678,239,187

In [89]:
reconstruct_df = ab_df.melt(id_vars=['state'], var_name='year', value_name='abortion_occurrences')
reconstruct_df

             state  year  abortion_occurrences
0          Alabama  2011                 10280
1           Alaska  2011                  1715
2          Arizona  2011                 11438
3         Arkansas  2011                  4532
4       California  2011                  6704
..             ...   ...                   ...
495       Virginia  2020                 15604
496     Washington  2020                 16909
497  West Virginia  2020                  1001
498      Wisconsin  2020                  6430
499        Wyoming  2020                   187

[500 rows x 3 columns]

In [90]:
reconstruct_df.to_csv("ab_occurrence.csv")