In [1]:
import pandas as pd
import os
import glob
import re

In [9]:
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
dfs = []
# loop over the list of csv files
for f in csv_files:
    filename = f.split("\\")[-1]
    year = re.findall(r"\d+", filename)[-1]
    if year in ['2015','2016','2017','2018', '2019', '2020']: # since this set of data has different forms from the rest of years
    # read the csv file
        df = pd.read_csv(f)
        df['year'] = year
        dfs.append(df)
        # print the location and filename
        print('Location:', f)
        print('File Name:', f.split("\\")[-1])
df = pd.concat(dfs, axis=0, ignore_index=True)

Location: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2020.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2020.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2019.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2019.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2018.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2018.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2015.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2015.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2016.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2016.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2017.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/legislature/2017.csv

In [4]:
df.head()

,0,﻿State,State Rank,Senate,Total Women/Total Senate,House,Total Women/Total House,Total Women/Total Legis.,%Women Overall,year
0,1,AL,47.0,"4D, 0R",4/35,"11D, 7R",18/105,22/140,15.7,2020
1,2,AK,10.0,"1D, 5R",6/20,"6D, 10R",16/40,22/60,36.7,2020
2,3,AZ,7.0,"7D, 6R",13/30,"14D, 8R",22/60,35/90,38.9,2020
3,4,AR,33.0,"3D, 4R",7/35,"10D, 18R",28/100,35/135,25.9,2020
4,5,AS,NaN,"0D, 0R, 1Ind",1/18,"0D, 0R, 1Ind",1/21,2/39,5.1,2020

In [5]:
csv_files = glob.glob(os.path.join(path, "*.csv"))
dfs = []
for f in csv_files:
    filename = f.split("\\")[-1]
    year = re.findall(r"\d+", filename)[-1]
    if year in ['2011','2012','2013','2014']:
        df = pd.read_csv(f, header=None)
        df['year'] = year
        dfs.append(df)

df2 = pd.concat(dfs, axis=0, ignore_index=True)

In [6]:
df2.head()

       0                1  year
0  STATE  % WOMEN OVERALL  2014
1     AL             14.3  2014
2    AK*             26.7  2014
3     AZ             35.6  2014
4     AR             17.0  2014

In [10]:
# select interested columns for df
df = df.iloc[:, [1, 8, 9]]

In [11]:
df.head()

  ﻿State  %Women Overall  year
0     AL            15.7  2020
1     AK            36.7  2020
2     AZ            38.9  2020
3     AR            25.9  2020
4     AS             5.1  2020

In [12]:
# rename the columns
df.columns = ['state', 'proportion of women', 'year']

In [13]:
# abbreviations of major 50 states
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [14]:
# clean the format of state name 
df['state'] = df['state'].str.findall(r'[A-Z]{2}').str[0]

In [19]:
# only keep major 50 states
df = df[df['state'].isin(states)]

In [18]:
# rename the columns for df2
df2.columns = ['state', 'proportion of women', 'year']
pd.unique(df2['state'])

array(['STATE', 'AL', 'AK*', 'AZ', 'AR', 'CA*', 'CO', 'CT', 'DE*', 'FL',
       'GA', 'HI*', 'ID*', 'IL', 'IN*', 'IA', 'KS', 'KY', 'LA', 'ME',
       'MD*', 'MA', 'Ml', 'MN', 'MS', 'MO', 'MT', 'NE', 'NV', 'NH', 'NJ',
       'NM', 'NY*', 'NC', 'ND', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD',
       'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI*', 'WY', 'AK', 'AR*',
       'CA', 'ID', 'IN', 'MS*', 'MO*', 'NY', 'NC*', 'ND*', 'PA*', 'TN*',
       'WY*', 'DE', 'HI', 'IA*', 'MD', 'WI', 'co', 'NE*', 'NJ*'],
      dtype=object)

In [20]:
# correct and clean the format of state names
df2 = df2.replace('Ml','MI')
df2 = df2.replace('co', 'CO')
df2['state'] = df2['state'].str.findall(r'[A-Z]{2}').str[0]

In [21]:
# select only major 50 states
df2  = df2[df2['state'].isin(states)]

In [22]:
df.head()

  state  proportion of women  year
0    AL                 15.7  2020
1    AK                 36.7  2020
2    AZ                 38.9  2020
3    AR                 25.9  2020
5    CA                 30.8  2020

In [31]:
# concat all years
df_legislature = pd.concat([df, df2], axis=0, ignore_index=True)

In [34]:
# convert the feature from percentage value to decimals
df_legislature['proportion of women'] = df_legislature['proportion of women'].astype(float)
df_legislature['proportion of women'] = df_legislature['proportion of women'] * 0.01
df_legislature['proportion of women'] = df_legislature['proportion of women'].round(3)

In [36]:
df_legislature.to_csv('women_in_legislature.csv', encoding='utf-8', index=False)