In [5]:
import pandas as pd
import os
import glob
import re

In [117]:
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
dfs = []
# loop over the list of csv files
for f in csv_files:
    filename = f.split("\\")[-1]
    year = re.findall(r"\d+", filename)[-1]
    if year in ['2015','2016','2017','2018', '2019', '2020']:
    # read the csv file
        df = pd.read_csv(f)
        df['year'] = year
        dfs.append(df)
        # print the location and filename
        print('Location:', f)
        print('File Name:', f.split("\\")[-1])
df = pd.concat(dfs, axis=0, ignore_index=True)
    # # print the content
    # print('Content:')
    # display(df)
    # print()

Location: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2020.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2020.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2019.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2019.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2018.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2018.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2015.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2015.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2016.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2016.csv
Location: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2017.csv
File Name: /Users/axyz1220/Downloads/macs30122/final_project/political_enpowerment/2017.csv

In [101]:
csv_files = glob.glob(os.path.join(path, "*.csv"))
dfs = []
for f in csv_files:
    filename = f.split("\\")[-1]
    year = re.findall(r"\d+", filename)[-1]
    if year in ['2011','2012','2013','2014']:
        df = pd.read_csv(f, header=None)
        df['year'] = year
        dfs.append(df)

df2 = pd.concat(dfs, axis=0, ignore_index=True)

In [63]:
df2.head()

       0                1  year
0  STATE  % WOMEN OVERALL  2014
1     AL             14.3  2014
2    AK*             26.7  2014
3     AZ             35.6  2014
4     AR             17.0  2014

In [51]:
df2.shape

(204, 3)

In [118]:
df = df.iloc[:, [1, 8, 9]]

In [119]:
df.head()

  ﻿State  %Women Overall  year
0     AL            15.7  2020
1     AK            36.7  2020
2     AZ            38.9  2020
3     AR            25.9  2020
4     AS             5.1  2020

In [120]:
df.columns = ['state', 'proportion of women', 'year']

In [122]:
df.shape

(316, 3)

In [114]:
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [123]:
df['state'] = df['state'].str.findall(r'[A-Z]{2}').str[0]

In [124]:
df.shape

(316, 3)

In [125]:
df = df[df['state'].isin(states)]

In [126]:
df.shape

(300, 3)

In [103]:
df2.columns = ['state', 'proportion of women', 'year']
df2

     state proportion of women  year
0    STATE     % WOMEN OVERALL  2014
1       AL                14.3  2014
2      AK*                26.7  2014
3       AZ                35.6  2014
4       AR                17.0  2014
..     ...                 ...   ...
199     VA                19.3  2011
200     WA                32.0  2011
201     WV                17.9  2011
202     WI                25.8  2011
203     WY                14.4  2011

[204 rows x 3 columns]

In [104]:
df2 = df2.replace('Ml','MI')
df2 = df2.replace('co', 'CO')

In [105]:
df2['state'] = df2['state'].str.findall(r'[A-Z]{2}').str[0]

In [106]:
df2.iloc[159]

state                    CO
proportion of women    41.0
year                   2011
Name: 159, dtype: object

In [109]:
df2  = df2[df2['state'].isin(states)]

In [127]:
df.head()

  state  proportion of women  year
0    AL                 15.7  2020
1    AK                 36.7  2020
2    AZ                 38.9  2020
3    AR                 25.9  2020
5    CA                 30.8  2020

In [128]:
df_legislature = pd.concat([df, df2], axis=0, ignore_index=True)

In [134]:
df_legislature['proportion of women'] = df_legislature['proportion of women'].astype(float)

In [131]:
df.to_csv('women_in_legislature', encoding='utf-8', index=False)

In [136]:
df_legislature['proportion of women'] = df_legislature['proportion of women'] * 0.01

In [142]:
df_legislature['proportion of women'] = df_legislature['proportion of women'].round(3)

In [139]:
df_legislature.to_csv('women_in_legislature', encoding='utf-8', index=False)