In [1]:
import pandas as pd
import os
import glob
import re

In [2]:
  
# use glob to get all the csv files 
# in the folder
path = os.getcwd()
csv_files = glob.glob(os.path.join(path, "*.csv"))
  
dfs = []
# loop over the list of csv files
for f in csv_files:
    filename = f.split("\\")[-1]
    year = re.findall(r"\d+", filename)[-1]
    if year in ['2015','2016','2017','2018', '2019', '2020']: # since this set of data has different forms from the rest of years
    # read the csv file
        df_1 = pd.read_csv(f)
        df_1['year'] = year
        dfs.append(df_1)
        # print the location and filename
        print('Location:', f)
        print('File Name:', f.split("\\")[-1])
df = pd.concat(dfs, axis=0, ignore_index=True)

Location: c:\Users\18973\OneDrive\桌面\UChicago\2023-Winter\MACS30122-Method2\final-project-233-not-found\data\political\legislature\2015.csv
File Name: 2015.csv
Location: c:\Users\18973\OneDrive\桌面\UChicago\2023-Winter\MACS30122-Method2\final-project-233-not-found\data\political\legislature\2016.csv
File Name: 2016.csv
Location: c:\Users\18973\OneDrive\桌面\UChicago\2023-Winter\MACS30122-Method2\final-project-233-not-found\data\political\legislature\2017.csv
File Name: 2017.csv
Location: c:\Users\18973\OneDrive\桌面\UChicago\2023-Winter\MACS30122-Method2\final-project-233-not-found\data\political\legislature\2018.csv
File Name: 2018.csv
Location: c:\Users\18973\OneDrive\桌面\UChicago\2023-Winter\MACS30122-Method2\final-project-233-not-found\data\political\legislature\2019.csv
File Name: 2019.csv
Location: c:\Users\18973\OneDrive\桌面\UChicago\2023-Winter\MACS30122-Method2\final-project-233-not-found\data\political\legislature\2020.csv
File Name: 2020.csv

In [3]:
df.head()

,0,﻿State,State Rank,Senate,Total Women/Total Senate,House,Total Women/Total House,Total Women/Total Legis.,%Women Overall,year
0,1,AL,46.0,3D | 0R | 1Ind,4/35,11D | 5R | Ind,16/105,20/140,14.3,2015
1,2,AK*,15.0,1D | 4R,5/20,2D | 10R,12/40,17/60,28.3,2015
2,3,AZ,3.0,6D | 7R,13/30,12D | 8R,20/60,33/90,36.7,2015
3,4,AR,36.0,3D | 4R,7/35,6D | 14R,20/100,27/135,20.0,2015
4,5,CA*,20.0,8D | 4R,12/40,11D | 8R | Ind,19/80,31/120,25.8,2015

In [4]:
df = df.iloc[:,[1,8,9]]

In [5]:
csv_files = glob.glob(os.path.join(path, "*.csv"))
dfs = []
for f in csv_files:
    filename = f.split("\\")[-1]
    year = re.findall(r"\d+", filename)[-1]
    if year in ['2011','2012','2013','2014']:
        df_2 = pd.read_csv(f, header=None)
        df_2['year'] = year
        dfs.append(df_2)

df2 = pd.concat(dfs, axis=0, ignore_index=True)

In [6]:
df2.head()

       0                 1  year
0  STATE  % WOMEN OV ERALL  2011
1     AL              13.6  2011
2     AK              23.3  2011
3     AZ              34.4  2011
4     AR              22.2  2011

In [7]:
df.head()

  ﻿State  %Women Overall  year
0     AL            14.3  2015
1    AK*            28.3  2015
2     AZ            36.7  2015
3     AR            20.0  2015
4    CA*            25.8  2015

In [8]:
# rename the columns
df.columns = ['state', 'proportion of women', 'year']

In [9]:
# abbreviations of major 50 states
states = [ 'AK', 'AL', 'AR', 'AZ', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA',
           'HI', 'IA', 'ID', 'IL', 'IN', 'KS', 'KY', 'LA', 'MA', 'MD', 'ME',
           'MI', 'MN', 'MO', 'MS', 'MT', 'NC', 'ND', 'NE', 'NH', 'NJ', 'NM',
           'NV', 'NY', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX',
           'UT', 'VA', 'VT', 'WA', 'WI', 'WV', 'WY']

In [10]:
# clean the format of state name 
df['state'] = df['state'].str.findall(r'[A-Z]{2}').str[0]

In [11]:
# only keep major 50 states
df = df[df['state'].isin(states)]

In [12]:
# rename the columns for df2
df2.columns = ['state', 'proportion of women', 'year']
pd.unique(df2['state'])

array(['STATE', 'AL', 'AK', 'AZ', 'AR', 'CA*', 'co', 'CT', 'DE', 'FL',
       'GA', 'HI', 'ID', 'IL', 'IN*', 'IA*', 'KS', 'KY', 'LA', 'ME', 'MD',
       'MA', 'Ml', 'MN', 'MS*', 'MO', 'MT', 'NE*', 'NV', 'NH', 'NJ*',
       'NM', 'NY', 'NC*', 'ND*', 'OH', 'OK', 'OR', 'PA', 'RI', 'SC', 'SD',
       'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV', 'WI', 'WY', 'AR*', 'CA',
       'CO', 'MS', 'NE', 'NJ', 'NY*', 'NC', 'WY*', 'DE*', 'HI*', 'IN',
       'IA', 'MD*', 'MO*', 'PA*', 'TN*', 'WI*', 'AK*', 'ID*', 'ND'],
      dtype=object)

In [13]:
# correct and clean the format of state names
df2 = df2.replace('Ml','MI')
df2 = df2.replace('co', 'CO')
df2['state'] = df2['state'].str.findall(r'[A-Z]{2}').str[0]

In [14]:
# select only major 50 states
df2  = df2[df2['state'].isin(states)]

In [15]:
df.head()

  state  proportion of women  year
0    AL                 14.3  2015
1    AK                 28.3  2015
2    AZ                 36.7  2015
3    AR                 20.0  2015
4    CA                 25.8  2015

In [16]:
# concat all years
df_legislature = pd.concat([df, df2], axis=0, ignore_index=True)

In [17]:
# convert the feature from percentage value to decimals
df_legislature['proportion of women'] = df_legislature['proportion of women'].astype(float)
df_legislature['proportion of women'] = df_legislature['proportion of women'] * 0.01
df_legislature['proportion of women'] = df_legislature['proportion of women'].round(3)

In [19]:
df_legislature.to_csv(r'..\women_in_legislature.csv', encoding='utf-8', index=False)