In [1]:
import pandas as pd

In [21]:
df_econ = pd.read_csv('econ_raw.csv')

In [22]:
df_econ.head()

,State,Yaer,Labour-force participation rate,management jobs(female wage /,"over 25 years \bach degree ,wage gap,k",Unnamed: 5,Unnamed: 6
0,Alabama,2020,78.23%,64%,25.1,NaN,NaN
1,Alabama,2019,80.42%,62.30%,27.1,NaN,NaN
2,Alabama,2018,78.90%,63.20%,25.0,NaN,NaN
3,Alabama,2017,78.40%,64.40,25.2,NaN,NaN
4,Alabama,2016,77.80%,65.80,24.7,NaN,NaN

In [23]:
df_econ.shape

(500, 7)

In [24]:
# drop null columns
df_econ = df_econ.drop(df_econ.columns[[-2, -1]], axis=1)
# df_econ = df_econ.dropna()

In [25]:
# check if any null
df_econ[df_econ.isna().any(axis=1)]

Empty DataFrame
Columns: [State, Yaer, Labour-force participation rate , management jobs(female wage /, over 25 years \bach degree ,wage gap,k]
Index: []

In [26]:
df_econ.shape

(500, 5)

In [27]:
df_econ = df_econ.rename({"State": "state", "Yaer": "year", "Labour-force participation rate ": "labour_force_participation",
    "management jobs(female wage /": "mngmt_job_wage_gap", "over 25 years \bach degree ,wage gap,k": "wage_gap_25_bach"}, axis=1)

In [28]:
# convert the data types of the features
df_econ['year'] = df_econ['year'].astype(int)
df_econ['labour_force_participation'] = df_econ['labour_force_participation'].str.rstrip('%').astype('float') / 100.0
df_econ['labour_force_participation'] = df_econ['labour_force_participation'].round(3)
df_econ['mngmt_job_wage_gap'] = df_econ['mngmt_job_wage_gap'].str.rstrip('%').astype('float') / 100.0
df_econ['mngmt_job_wage_gap'] = df_econ['mngmt_job_wage_gap'].round(3)

In [29]:
df_econ.head()

,state,year,labour_force_participation,mngmt_job_wage_gap,"over 25 years \bach degree ,wage gap,k"
0,Alabama,2020,0.782,0.640,25.1
1,Alabama,2019,0.804,0.623,27.1
2,Alabama,2018,0.789,0.632,25.0
3,Alabama,2017,0.784,0.644,25.2
4,Alabama,2016,0.778,0.658,24.7

In [33]:
# make sure the state names are all correctly formed
# when we manually checked the state name in this dataset, we saw Colorado with some white spaces before the letters
df_econ['state'] = df_econ['state'].apply(lambda x: x.strip())

In [36]:
df_econ[df_econ['state'] == 'Colorado']

,state,year,labour_force_participation,mngmt_job_wage_gap,"over 25 years \bach degree ,wage gap,k"
50,Colorado,2020,0.818,0.729,25.1
51,Colorado,2019,0.807,0.690,23.3
52,Colorado,2018,0.805,0.683,23.2
53,Colorado,2017,0.809,0.674,24.2
54,Colorado,2016,0.800,0.686,24.5
55,Colorado,2015,0.804,0.695,23.8
56,Colorado,2014,0.799,0.692,25.1
57,Colorado,2013,0.781,0.684,24.8
58,Colorado,2012,0.780,0.653,25.8
59,Colorado,2011,0.780,0.674,23.7

In [37]:
df_econ.to_csv('economic.csv', encoding='utf-8', index=False)